@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: #ffffff;
  }
}

html.dark body {
  color: #ffffff;
  background: #0A0F1E;
}

/* Custom lenis smooth scroll fix if needed */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
